<p id="notice"><%= notice %></p>

<p>
  <strong>Did yesterday:</strong>
  <%= @daily_entry.did_yesterday %>
</p>

<p>
  <strong>Doing today:</strong>
  <%= @daily_entry.doing_today %>
</p>

<p>
  <strong>Problems:</strong>
  <%= @daily_entry.problems %>
</p>

<p>
  <strong>Posted on:</strong>
  <%= @daily_entry.created_at.to_date %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= @daily_entry.user.email %>
</p>

<p>
  <strong>Team: </strong>
  <%= @daily_entry.team.name %>
</p>

<%= link_to 'Edit', edit_daily_entry_path(@daily_entry) %> |
<%= link_to 'Back', daily_entries_path %>
